<div class="col-6 col-sm-6 col-lg-4">
  <div class="prompt">
    <h3><%= prompt.content %></h3>
    
    <div class="responses">

      <% prompt.responses_by_newest.each do |response| %>
        <p><%= response.content %></p> 
        <p class="indent comment-time"><%= pluralize(response.age_in_minutes, 'minute') %> ago</p>
      <% end %>

    </div>
    <div class="comment-form">
      <%= form_for @response ||= prompt.responses.new do |f| %>

        <%= render 'shared/error_messages', object: f.object %>

        <%= f.text_field :content, id: "content#{@response.id}" %>
        <%= f.hidden_field :prompt_id, value: prompt.id %>

        <%= f.submit "Comment", class: "btn btn-sm btn-primary" %>
      <% end %>
    </div>
  </div>
</div><!--/span-->







