<h1><%= @event.title %></h1>
<hr>

<h4>New Prompt</h4>

<%= form_for @prompt do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.text_field :content %>
  <%= f.hidden_field :event_id %> 

  <%= f.submit "Create prompt", class: "btn btn-large btn-primary" %>
<% end %>

<hr>

<div class="row">
  <% if @event.prompts.empty? %>
    <%= link_to 'Prompt please!', '#' %>
  <% end %>
  <% @event.prompts.each do |prompt| %>
    <%= render 'events/prompt', prompt: prompt %>
  <% end %>
</div><!--/row-->


