<div class="row row-offcanvas row-offcanvas-right">
  <div class="col-xs-12 col-sm-9">
    <div class="row">
      <div class="col-md-8">
        <h1><%= @event.title %></h1>
        <% unless @event.host.empty? %>
          <h3>Hosted by: <%= @event.host %></h3>
        <% end %>
        <% unless @event.location.empty? %>
          <h3>Location: <%= @event.location %></h3>
        <% end %>
        <% unless @event.date.nil? %>
          <h3>Date: <%= @event.date %></h3>
        <% end %>  
        <h3><% unless @event.start_time.nil? %> 
          From <%= @event.start_time.strftime('%l:%M %P') %> 
        <% end %>
        <% unless @event.end_time.nil? %>
          to <%= @event.end_time.strftime('%l:%M %P') %>
        <% end %></h3>         
      </div>  
      <div class="col-md-4">
        <% unless @event.description.empty? %>
          <h3><%= @event.description ? @event.description : "" %></h3>
        <% end %>
      </div>
    </div>
    
    <hr>

    <h4>New Prompt</h4>               
    <%= form_for @prompt ||= @event.prompts.new do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.text_field :content %>
      <%= f.hidden_field :event_id %> 
      <%= f.submit "Create prompt", class: "btn btn-large btn-primary" %>
    <% end %>

    <hr>

    <div class="row">
      <% if @event.prompts.empty? %>
        <p>Add a prompt to start the conversation!</p>
      <% end %>
      <% @event.prompts.each do |prompt| %>
        <%= render 'events/prompt', prompt: prompt %>
      <% end %>
    </div><!--/row-->
  </div>

  <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
    <div class="well sidebar-nav">
      <%= render 'events/guest_signin' %>
      <h3>Guests in attendance</h3>
      <% @event.guests.each do |guest| %>
        <p><%= guest.name %></p>
        <p class="indent">with <%= guest.affiliation %></p>
      <% end %>
    </div><!--/.well -->
  </div>
</div>


