<!DOCTYPE html>
<html lang="en">
  <head>
    <title>GuestByte</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= javascript_include_tag 'webcam' %>
    <%= csrf_meta_tags %>

  </head>

  <body>
    <%= render '/shared/navbar' %>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "alert alert-#{key}") %>
    <% end %>
    <div class="container">  
      <p class="pull-right visible-xs">
        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
      </p>

      <%= yield %>

      

      <hr>

      <footer>
        <p>&copy; Epicodus 2013</p>
      </footer>
    </div><!--/row-->

      

    </div><!--/.container-->
  </body>
</html>
